@layer reset {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  button,
  input,
  select,
  optgroup,
  textarea,
  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }

  ::placeholder {
    color: color-mix(in oklab, currentcolor 50%, transparent);
    opacity: 1;
  }

  ::-webkit-search-decoration {
    appearance: none;
  }

  button,
  input:where([type="button"], [type="reset"], [type="submit"]),
  ::file-selector-button {
    appearance: button;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }

  :where(*) {
    scrollbar-width: thin;
  }

  :where(*, *::before, *::after) {
    cursor: default;
    user-select: none;
  }

  :where(
    input:not([type]),
    input[type="email" i],
    input[type="number" i],
    input[type="password" i],
    input[type="search" i],
    input[type="tel" i],
    input[type="text" i],
    input[type="url" i],
    textarea,
    [contenteditable=""],
    [contenteditable=""] *,
    [contenteditable="true" i],
    [contenteditable="true" i] *,
    [contenteditable="plaintext-only" i],
    [contenteditable="plaintext-only" i] *
  ) {
    cursor: text;
    user-select: text;
  }
}
